<div class="top-bar">
  <div class="top-bar-left">
    <div class="nav">
      <p class="active title-link"><a href="/events">HindSite</a></p>
    </div>
  </div>

  <div class="top-bar-right">
    <div id="user-links">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>. |
        <%= link_to "Edit profile", edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </div>
  </div>
</div>

<div class="row container">
  <div class="trip-show-title columns large-12 small-12">
    <h3><%= @trip.name %></h3>
  </div>

  <div class="trip-details columns large-6 small-12">
    <h4><%= @trip.start_event.name %></h4>
    <p><%= @trip.start_event.address %>, <%= @trip.start_event.zip_code %></p>
    <p><%= @trip.start_event.description %></p>
  </div>

  <div class="trip2-details columns large-6 small-12">
    <h4><%= @trip.end_event.name %></h4>
    <p><%= @trip.end_event.address %>, <%= @trip.end_event.zip_code %></p>
    <p><%= @trip.end_event.description %></p>
  </div>

  <div class="edit-delete-trip columns large-12 small-12">
    <% if @user.admin? %>
      <%= link_to "Delete Trip", trip_path(@trip), method: :delete %>
    <% end %>
  </div>
</div>
