
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 7,
          center: <%= @origin.html_safe %>
        });
        directionsDisplay.setMap(map);
        calculateAndDisplayRoute(directionsService, directionsDisplay)
      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        directionsService.route({
          origin: <%= @origin.html_safe %>,
          destination: <%= @destination.html_safe %>,
          travelMode: 'DRIVING'
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
    </script>

    <script async defer
    src=<%="https://maps.googleapis.com/maps/api/js?key=#{ENV["GMAPS_API_KEY"]}&callback=initMap"%>>
    </script>
  </body>
</html>

<div class="row container">
  <div class="trip-show-title columns large-12 small-12">
    <h3><%= @trip.name %></h3>
  </div>

  <div class="trip-details columns large-6 small-12">
    <h4><%= @trip.start_event.name %></h4>
    <p><%= @trip.start_event.address %>, <%= @trip.start_event.zip_code %></p>
    <p><%= @trip.start_event.description %></p>
  </div>

  <div class="trip2-details columns large-6 small-12">
    <h4><%= @trip.end_event.name %></h4>
    <p><%= @trip.end_event.address %>, <%= @trip.end_event.zip_code %></p>
    <p><%= @trip.end_event.description %></p>
  </div>

  <div class="edit-delete-trip columns large-12 small-12">
    <% if @user.admin? %>
      <%= link_to "Delete Trip", trip_path(@trip), method: :delete %>
    <% end %>
  </div>
</div>
