<div class="top-bar">
  <div class="top-bar-left">
    <div class="nav">
      <p class="active title-link"><a href="/events">HindSite</a></p>
    </div>
  </div>

  <div class="top-bar-right">
    <div id="user-links">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>. |
        <%= link_to "Edit profile", edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </div>
  </div>
</div>

<div class="row container">
  <div class="change-password large-6 small-12">
    <h3>Change your password</h3>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.label :password, "New password" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Change my password" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
