<div class="top-bar">
  <div class="top-bar-left">
    <div class="nav">
      <p class="active title-link"><a href="/events">HindSite</a></p>
    </div>
  </div>

  <div class="top-bar-right">
    <div id="user-links">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>. |
        <%= link_to "Edit profile", edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </div>
  </div>
</div>

<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: 42.325985, lng: -71.093644};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src=<%="https://maps.googleapis.com/maps/api/js?key=#{ENV["GMAPS_API_KEY"]}&callback=initMap"%>>
    </script>
  </body>
</html>

<div class="events-list columns large-6 small-12">
  <h3>Historical Events</h3>
  <div id="events">
      <% @events.each do |event| %>
        <p><%= link_to "#{event.name}", event_path(event) %></p>
      <% end %>
  </div>
</div>

<div class="event-form columns large-6 small-12">
  <h3>Create a Historical Event</h3>

  <%= render 'form' %>
</div>
</div>
