<div class="row container">
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>

      var centerEvent = <%= @coordinates.html_safe %>

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: centerEvent
        });

          var marker = new google.maps.Marker({
            position: <%= @coordinates.html_safe %>,
            map: map
          });
        }
    </script>

    <script async defer
    src=<%="https://maps.googleapis.com/maps/api/js?key=#{ENV["GMAPS_API_KEY"]}&callback=initMap"%>>
    </script>
  </body>
</html>
</div>

<div class="row container event-show">
  <div class="event-details columns large-5 small-12">
    <h2 class="event-name"> <%= @event.name %> </h2>

    <div id="event-details">
      <p>(<%= @event.date %>)</p>
      <p><%= @event.address %></p>
      <p><%= @event.description %></p>
    </div>

    <%= button_to "Back", events_path, method: :get, class: "button" %>

    <% if @user.id == @event.user_id || @user.admin? %>
      <%= button_to 'Edit Event', edit_event_path(@event), method: :get, class: "button"%>
    <% end %>

    <br>
  </div>

  <div class="columns large-2 small-0"></div>


  <div class="reviewlist columns large-5 small-12">
    <div id="reviewList"></div>
    <div>
      <h2 class="reviews-list-title">Reviews</h2>
      <div id="reviews">
        <% @reviews.each do |review| %>
          <p class="review-index"><%= review.body %>
            <% if @user.id == review.user_id || @user.admin? %>
              <%= link_to ' | Edit Review', edit_event_review_path(review), class: "edit-review-link" %>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
