<div class="row container">
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 97%;
       }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>

      var centerEvent = <%= @coordinates.html_safe %>

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: centerEvent
        });

          var marker = new google.maps.Marker({
            position: <%= @coordinates.html_safe %>,
            map: map
          });
        }
    </script>

    <script async defer
    src=<%="https://maps.googleapis.com/maps/api/js?key=#{ENV["GMAPS_API_KEY"]}&callback=initMap"%>>
    </script>
  </body>
</html>
</div>

<div class="row container event-show">
  <div class="event-details columns large-6 small-12">
    <h2 class="event-name"> <%= @event.name %> </h2>

    <div id="event-details">
      <p>(<%= @event.date %>)</p>
      <p><%= @event.address %></p>
      <p><%= @event.description %></p>
    </div>

    <% if @user.id == @event.user_id || @user.admin? %>
      <%= link_to 'Edit Event', edit_event_path(@event), class: "button"%>
    <% end %>

    <br>
  </div>


  <div class="reviewlist columns large-6 small-12">
    <%= form_for [@event, @review] do |f| %>

    <div>
      <%= f.label :body, "Review" %>
      <%= f.text_field :body, placeholder: "Add a review" %>
    </div>

    <div>
      <%= f.submit "Submit", class: "button" %>
    </div><br>

    <% end %>
    <div id="ReviewList">
      <h2>Reviews</h2>
      <% @reviews.each do |review| %>
        <p><%= review.body %>
          <% if @user.id == review.user_id || @user.admin? %>
            <%= link_to ' | Edit Review', edit_event_review_path(review) %>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
</div>
