<div class="top-bar">
  <div class="top-bar-left">
    <div class="nav">
      <p class="active title-link"><a href="/events">HindSite</a></p>
    </div>
  </div>

  <div class="top-bar-right">
    <div id="user-links">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>. |
        <%= link_to "Edit profile", edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </div>
  </div>
</div>

<div class="row container">
  <div class="edit-review columns large-6 small-12">

    <h3>Edit Review Form for <%= @event.name %></h3>

    <%= render 'form' %><br />

    <%= link_to "Delete", event_review_path, method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
</div>
